<div class="collapse commentcls" id="collComment<%=mircoblog.id%>" data-mircoblogid="<%=mircoblog.id%>">
  <div class="well">
    <div class="top_c_tx5">
      评论本条微博, <%= link_to "共有"+mircoblog.comments.count.to_s+"评论" ,"/mircoblog/"+mircoblog.id.to_s%>
    </div>
    <% if current_user%>
        <%= form_for(Comment.new(:user_id=>current_user.id,:mircoblog_id =>mircoblog.id),remote:true) do |c| %>
            <div class="cont">
            <%= c.text_area :comment ,:class=>"msgtxt"%>
              </div>
            <%=c.hidden_field :mircoblog_id%>
            <%=c.hidden_field :user_id%>
            <div class="bot">
              <button type="submit" class="btn btn-success btn-sm pull-right">评论</button>
            </div>
        <% end %>
    <% end %>
    <hr/>
    <div class="comments<%=mircoblog.id%>">
    <% mircoblog.comments.reverse.take(count).each do |comment| %>
        <%= render partial:'comments/mircoblogcomment',locals:{comment:comment,count:4}%>
    <% end%>
    </div>
    <hr/>
    <%= link_to "查看所有评论" ,"/mircoblog/"+mircoblog.id.to_s%>
  </div>
</div>