<div>评论照片</div>
<% if current_user%>
    <%= form_for(Comment.new(:user_id=>current_user.id,:photo_id =>@photo.id),remote:true) do |c| %>
        <%= c.text_area :comment ,:id=>"comment"%>
        <button type="submit" class="btn btn-success btn-sm pull-right">评论</button>
        <%=c.hidden_field :photo_id%>
        <%=c.hidden_field :user_id%>
    <% end %>
<% end %>
<div class="shardlist">
  <ul>
    <% @photo.comments.reverse.each do |comment| %>
    <%= render partial: 'comments/photocomment',locals: {comment:comment } %>
    <% end %>
  </ul>
</div>