<%= render partial:'photobooks/photobooklist', locals: {photobook: @photobook} %>
<%if current_user&&current_user.id==1%>
<%= link_to "创建相册", "#", class: "btn btn-primary btn-sm", :data => {:toggle => "modal", :target => ".createphotobookModal"} %>
<%= link_to "上传照片", "#", class: "btn btn-primary btn-sm", :data => {:toggle => "modal", :target => ".uploadphotoModal"} %>
    <%= render partial: 'photos/uploadphotos' ,locals:{photobook: @photobook}%>
    <%= form_tag "/createphotobook" do %>
        <div class="modal fade createphotobookModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">x</a>
                <h4 class="modal-title">创建相册</h4>
              </div>
              <div class="modal-body">
                <div>相册名<%= text_field_tag :bookname, params[:bookname], :class => "", :style => "width:200px" %></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal"> 关闭
                </button>
                <%= submit_tag "添加", :class => "submit-issue-button btn btn-primary" %></div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
    <%= render partial: 'photos/photos' %>
<script>
    function createUploader() {
        var thumbnailuploader = new qq.FineUploader({
            element: document.getElementById('thumbnail-fine-uploader'),
            template: "qq-simple-thumbnails-template",
            request: {
                endpoint: '/photos/uploadphoto'
            },
            autoUpload: false,
            thumbnails: {
                placeholders: {
                    waitingPath: "/image/waiting-generic.png",
                    notAvailablePath: "/image/not_available-generic.png"
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            },
            editFilename: {
                enabled: true
            }
        });
        $("#edit-file-upload-trigger").click(function () {
            thumbnailuploader.setParams({
                authenticity_token: "<%= form_authenticity_token.to_s %>",
                photobook_id: $("#photobookid").val()
            });
            thumbnailuploader.uploadStoredFiles();
        });
    }
</script>