<li>
  <div class="mesbox">
    <div class="userpic"> <%= image_tag mircoblog.user.avatar_url(:normal) || image_url("head.png") if mircoblog.user.avatar %>
      <% if current_user!=nil && mircoblog.user_id != current_user.id %>
          <!--<div class="follow">-->
            <!--<a href="follow/user/ #mircoblog.user_id" data-remote="true">关注ta</a>-->
          <!--</div>-->

      <% end %>
    </div>
    <div class="username"><strong><a href=""><%= mircoblog.user.username %></a> </strong></div>
    <div class="usercnt"><%=sanitize mircoblog.sharetext %></div>
    <div class="pubInfo">
      <div class="attime"><%= time_ago_in_words(mircoblog.created_at) %></div>
      <div class="commentbtn">
        <a data-toggle="collapse" href="#collComment<%= mircoblog.id %>" aria-expanded="false" aria-controls="collapseExample">
          评论
        </a>
      </div>
    </div>
  </div>
  <hr/>
  <%= render partial: 'comments/mircoblogcomments', locals: {mircoblog: mircoblog, count: count} %>
</li>

